openai==1.57.4
paho-mqtt==2.1.0
opencv-python==4.10.0.84
adafruit-circuitpython-ads1x15==2.2.25
adafruit-circuitpython-dht==3.7.9
chromadb==0.4.24
pandas==2.2.3
schedule==1.2.2
fastapi==0.111.3
uvicorn==0.32.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-asyncio==0.25.0
ruff==0.8.4
black==24.10.0
SQLAlchemy==2.0.36
python-multipart==0.0.17
python-dotenv==1.0.1
RPi.GPIO==0.7.1
adafruit-circuitpython-bme280==2.6.25
w1thermsensor==2.3.0
pyserial==3.5
requests==2.32.3
jsonschema==4.23.0
pre-commit==4.0.1
aiosqlite==0.21.0
